* {
  box-sizing: border-box;
}
.App {
  /*text-align: center;*/
  background-color:ivory;
  min-height: 100vh;
  overflow: hidden;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-col-rev {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.gap {gap: 10px}
.wrap {flex-wrap: wrap}
.space-btw {justify-content: space-between}
.left {align-items: flex-start}
.overflow {overflow:auto}
.absolute {position: absolute}
.click {cursor: pointer}
.bottom-border {border-bottom: 1px solid black}
.w100 {width: 100%;}
.shade {
  background-color: #e7e7e7
}

h3, p {
  margin: 0;
  padding: 0;
}

.top-header{
  position: fixed;
  z-index:5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:10px;
  width: 100%;
  height: 60px;
  padding: 10px 30px;
  background-color: #6e6e6e;
}
.top-header h1, h2{
 color:darkorange;
  font-weight: 100;
}

.main {
  position: fixed;
  display: flex;
}
.content {
  position: fixed;
  top: 60px;
  left: 200px;
  right: 0;
  bottom: 0;
  padding: 30px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:10px;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 30px;
  background-color: linen;
}
.favourites, .single, .create {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
}

.my-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: #3e3e3e;
  color:white;
  opacity: .7;
}
.my-footer h5{
  font-weight: 100;
  margin: 0;
}
.recipe-card-sm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  width: 300px;
  height: 330px;
  margin: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
  /*border: 1px solid black;*/
  border-radius: 10px;
  /*overflow:hidden;*/

}
.recipe-card-sm .image {
  height: 280px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.recipe-card-sm .title {
  position: absolute;
  top: 20px;
  left: -10px;
  padding: 5px 20px 5px 10px;
  max-width: 280px;
  background-color: black;
  color: ivory;
  opacity: .8;
}

.recipe-card-sm .image{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 10px;
  background-color: ivory;
  opacity: .9;
  overflow: hidden;
}
.recipe-info>div{
  padding: 3px 10px;
}


.recipe-card-big {
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 80%;
  height: 75vh;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.img-big {
  height: 100%;
  background-size: cover;
  background-position: center;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex:4;
}
.recipe-info-big {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  flex:1;
}
button.addRemove {
  text-align: center;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  border: 2px outset;
}

input, fieldset {
  margin: 0;
  border: 1px inset;
  background-color: transparent;
  border-radius: 5px;
}
fieldset {
  padding: 15px;
}

input.range {
  width: 120px;
}

.carousell-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

}
.carousell-slider {
  display: flex;
  position: absolute;
  height: 100%;
  /*width: 20%;*/
  transition: 1s;
}
.carousell-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: black;
  opacity: .1;
  padding: 5px;
  z-index:10;
  color:white;
}
.carousell-item {
  height: 100%;
  background-size: cover;
  background-position: center;
}
.carrousel-preview {
  display: flex;
  position: absolute;
  bottom: 10px;
  /*height: 30px;*/
  /*width: 50%;*/
}

.carousell-item-preview {
  height: 40px;
  width: 30px;
  background-size: cover;
  background-position: center;
  margin: 3px;
  border: 1px solid black;
  /*border-radius: 5px;*/
}
.carousell-btn:hover {
  opacity: .5;
  cursor: pointer;
}

.left {left: 0;}
.right {right:0;}

.favourite {
  font-size: 1.5em;
  cursor: pointer;
}
.favourite:hover {
  transform: scale(1.5);
}

.subtitle {
  border-bottom: 1px solid black;
}
.time {
  background-color: #dddddd;
  padding: 0 5px;
}
.review-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 450px;
  max-height: 60%;
  padding: 20px 60px 20px 20px;
  background-color: ivory;
  border-radius: 5px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
  opacity:.9;
  overflow: auto;
}
button.close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: .6em;
  /*width: 15px;*/
  /*height: 15px;*/
}
.review-modal .rating {
  width: 20px;
  text-align: center;
  background-color: #555555;
  color:white;
  font-size: .7em;
  border-radius: 3px;
}
.rating-stars-lg {
  font-size: 1.2em;
  color: #bbbbbb;
}
.rating-stars-sm {
  font-size: .8em;
  color: #bbbbbb;
}

.review-modal .text {
  font-size: .8em;
  border-bottom: 1px dotted #999999;
  width: 260px;
}




